
@media (min-width: 600px) {
  #section_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .kontakt_info{
      grid-column: 1/2;
      display: grid;
      place-content: center;
  }
}
.kontakt_info{
    text-align: center
    
}
.telefon{
    /*text-decoration: none;*/
    color: white;
}