/*------------------------------------------------outlines til under opbyggelse------------------------------------*/
#section_1,
#section_2,
#section_3,
#section_4{
  border: solid red 3px;
}
/*----------------------------section 1-----------------------------*/
@media (min-width: 650px) {
  #section_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .kontakt_info {
    grid-column: 1/2;
    display: grid;
    place-content: center;
  }
}
.kontakt_info {
  text-align: center;
}
.telefon {
  /*text-decoration: none;*/
  color: black;
}

/*---------------------------------------------------section 2--------------------------------------------------------------*/
@media (min-width: 650px) {
  #section_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #section_2 img {
    order: -1;
  }
  .times{
    display: grid;
    place-content: center;
  }
}

.times ul {
  list-style: none;
}

/*---------------------------------------------------section 2 slut--------------------------------------------------------------*/
/*-------------------------------------------------------section 3--------------------------------------------------------------*/
label,
input,
button,
textarea {
  display: block;
}
form{
  padding-left: 30px;
}
.book{
text-align: start;
}
@media (min-width: 650px) {
#section_3{
  display:grid;
  grid-template-columns: 1fr 2fr;

}
#form{
  display: grid;
  place-content: center;
  padding-left: none;
}
.book_p{
  grid-column: 1/2;
  text-align:;
}
}
/*-----------------------------------------------------section_4----------------------------------*/
/*google maps*/
.map {
  display: grid;
  place-content: center;
}
/*------------------------------------------------------section_4 slut----------------------------------*/
