* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* ----------------------------------------NAV-BAR--------------------------------------------- */

nav {
  background: #f3eeea;
  position: sticky; /*sætter nav bar fast*/
  top: 0; /*sætter til top af siden*/
  width: 100%; /*gør at den er hele siden bred*/
  /* hvis man kun gør dette kan man ikke se det reelle content, derfor skal der laves ekstra margin på main for at man kan se det, 30px brude være nok*/
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

nav a:link {
  text-decoration: none;
  color: white;
}

nav li {
  list-style-type: none;
  padding: 5px;
  padding-bottom: 1.5rem;
  padding-top: 1.8rem;
  color: white;
  font-family: "Karma", serif;
  font-size: 0.5rem;
  font-weight: 800;
}

a:visited {
  color: white;
}

nav ul {
  display: flex;
  justify-content: right;
  flex-flow: wrap;
  padding-right: 2rem;
}
/*--------------------------------------------------logo------------------------------------------------------*/
.logo {
  display: flex;
  justify-content: left;
  flex-flow: wrap;
  padding-right: 2rem;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}
/*-----------------------------------------------------------NAV SLUT--------------------------------------------------------------------*/

/*-----------------------------------------------------------Generelt--------------------------------------------------------------------*/

body {
  background: white;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

main {
  padding: 1rem;
}

hr {
  border: 1px solid #f1dccd;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

footer {
  max-width: 100%; /*gør at den er hele siden bred*/
  background: #f3eeea;
  /* hvis man kun gør dette kan man ikke se det reelle content, derfor skal der laves ekstra margin på main for at man kan se det, 30px brude være nok*/
  border-top: 1px solid white;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  color: white;
}

footer li {
  list-style-type: none;
  font-family: "Karma", serif;
  color: #483434;
}

.facebook {
  width: 40px;
  color: aliceblue;
}

.instagram {
  width: 40px;
}

.adresse {
  color: #483434;
}

/*----------------------------------------------------------Fonts---------------------------------------------------------------------*/

p {
  font-family: "Karma", serif;
  color: #483434;
}
h1 {
  font-family: "Karma", serif;
  color: #f5e2b5;
  text-align: center;
}
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
  color: #483434;
  text-align: center;
}

@media (min-width: 650px) {
  nav li {
    font-size: 1rem;
    padding: 16px;
  }
}
