* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40vw;
}

/* ----------------------------------------NAV-BAR--------------------------------------------- */

/* Lavet om til banner fra nav for at inkorpere burger menu */
/*  */
.banner {
  background: #f3eeea;
  position: sticky; /*sætter nav/banner bar fast*/
  top: 0; /*sætter til top af siden*/
  width: 100%; /*gør at den er hele siden bred*/
}

.banner a:link {
  text-decoration: none;
  color: #483434;
}
.banner img {
  max-width: 30%;
}

.banner_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style-type: none;
  padding: 5px;
  font-family: "Noto Serif Display", serif;
  font-size: 1rem;
  font-weight: 800;
  color: #483434;
}

.banner a:visited {
  color: #483434;
}

@media (min-width: 650px) {
  .banner ul {
    display: flex;
    justify-content: right;
    /* valgte at udelade dette, så den li item ikke gik ned på næste linje */
    /* flex-flow: wrap;  */
    padding-right: 2rem;
  }

  .banner {
    background: #f3eeea;
    position: sticky; /*sætter nav/banner bar fast*/
    top: 0; /*sætter til top af siden*/
    width: 100%; /*gør at den er hele siden bred*/
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner img {
    max-width: 20%;
  }
}
/* ----------------------------------------BURGER MENU--------------------------------------------- */

.toggle-btn {
  display: none;
  list-style-type: none;
  padding: 5px;
  padding-bottom: 1.5rem;
  padding-top: 1.8rem;
  font-family: "Noto Serif Display", serif;

  font-size: 1rem;
  font-weight: 800;
  color: #483434;
}

@media (max-width: 650px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #483434;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  .banner {
    display: flex;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
/*--------------------------------------------------logo------------------------------------------------------*/
.logo {
  color: white;
  width: 600px;
  padding: 0.5rem;
}
/*-----------------------------------------------------------NAV SLUT--------------------------------------------------------------------*/

/*-----------------------------------------------------------Generelt--------------------------------------------------------------------*/

body {
  background: white;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

main {
  padding: 1rem;
}

hr {
  border: 1px solid #f1dccd;
}
.knap {
  max-width: 100px;
}
@media (min-width: 650px) {
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

footer {
  max-width: 100%; /*gør at den er hele siden bred*/
  background: #f3eeea;
  /* hvis man kun gør dette kan man ikke se det reelle content, derfor skal der laves ekstra margin på main for at man kan se det, 30px brude være nok*/
  border-top: 1px solid white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 20px;
  align-items: center;
}

footer li,
.adresse {
  list-style-type: none;
  font-family: "Noto Serif Display", serif;
  font-weight: lighter;
  color: #483434;

  margin-right: 20px;
  font-style: normal;
}

.logo_footer {
  width: 180px;
}

.some {
  align-items: center;
  gap: 20px;
  padding-right: 5px;
}

.tider {
  /* Dette ville være hvis vi ville lægge ting i footer i højre og venstre side uden noget i midten */
  /* margin-right: auto; */
  margin-left: 20px;
}

.facebook {
  width: 30px;
}

.instagram {
  width: 30px;
}

.right_footer {
  display: flex;
  align-items: center;
}

/*----------------------------------------------------------Fonts---------------------------------------------------------------------*/

p {
  font-family: "Karma", serif;
  color: #483434;
}
h1 {
  font-family: "Noto Serif Display", serif;
  color: #f5e2b5;
  text-align: center;
}
h2,
h3 {
  font-family: "Noto Serif Display", serif;
  font-weight: lighter;
  color: #483434;
  text-align: center;
}

@media (min-width: 650px) {
  nav li {
    font-size: 1rem;
    padding: 16px;
  }
  h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 2.8rem;
    padding-bottom: 50px;
    margin-top: 20px;
  }
  h3 {
    font-size: 2rem;
    padding-bottom: 30px;
  }
}
