.section_1 {
  display: grid;
  place-items: center;
}

.broed_1 {
  padding-bottom: 1rem;
}

main p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section_2 a:link {
  color: #f0c35c;
}

.section_2 a:visited {
  color: #f0c35c;
}

.citat {
  font-size: 2rem;
  font-style: italic;
  color: #f5e2b5;
}

.video {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.video_holder {
  grid-column: 2/3;
  padding-bottom: 80px;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.billede_1 {
  width: 80%;
}

@media (min-width: 700px) {
  .section_1 {
    display: grid;
    grid-template-columns: auto 1fr minmax(2rem, auto) 1fr auto;
    place-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .tekst_1 {
    text-align: left;
    grid-column: 4/5;
    text-align: center;
  }

  .tekst_1 h2 {
    padding-bottom: 2rem;
  }
  .billede_1 {
    grid-column: 2/3;
  }

  .vaerksted {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    place-items: center;
    padding: 30px;
    background-color: #f3eeea;
  }
  .v_billede {
    width: 300px;
  }

  .section_3 {
    padding-top: 80px;
  }

  .ejere {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px;
  }

  .ejer1 {
    grid-column: 2/3;
  }

  .ejer2 {
    grid-column: 4/5;
  }

  .portraet {
    width: 260px;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: flex;
    align-items: center;
    border-radius: 5%;
  }

  .ejer_tekst {
    width: 280px;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .tekst_1 {
    width: 80%;
  }
  .billede_1 {
    width: 80%;
  }
}
