@media (min-width: 650px) {
  .section_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .vaerksted {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .ejere {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
