/*______________________________media_first_section__________________________*/
@media (max-width: 600px) {
  #first_section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 600px) {
  #first_section {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  }
}

/*_______________________________first_section_______________________________*/
